<!-- <mat-toolbar>
    <span>Messenger Analytics</span>
</mat-toolbar> -->
<!-- <hr> -->

<div class="header">
    <img class="header" src='assets/pictures/header.png'>
</div>

<body>
    <br>
    <div class="jumbotron">
        <h3 class="display-10">Group Chat Statistics</h3>
        <p class="lead">Group Chat: <strong>A Big Bag of Lads</strong></p>
        <p class="lead">Year: <strong>2019</strong></p>
        <hr class="my-4">
        <p>This a page contains graphs and statistics using Facebook Messenger data to gain insights into group chats</p>
      </div>


    <h3>2019 Statistics</h3>
    <hr class="divider">
    <div style="margin: 30px" >
        <h5>Total Year Messages:</h5>
        <hr class="divider">
        13,545
        <br>
        <br>
        <h5>Total Group Members:</h5>
        <hr class="divider">
        24      
        <br>
        <br>
        <h5>Newcomers in 2019:</h5>
        <hr class="divider">
        <b>Kevin Boland</b>, <b>Peter Comiskey</b>
        <br>
    </div>
    <br>
    <h4>Messages per person</h4>
    <hr class="divider">
    <mat-tab-group>
        <mat-tab label="Table"> 
            <table mat-table [dataSource]="message_per_person" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Messages </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>
    
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
        <mat-tab label="Graph">         
            <img src="assets/pictures/messages_per_person.png" alt="Nature" class="responsive">
        </mat-tab>
      </mat-tab-group>
    <hr class="divider">
    <br>
    
    <br><br><br><br>
    <h4>Reactions per person</h4>
    <hr class="divider">
    <mat-tab-group>
        <mat-tab label="Table"> 
            <table mat-table [dataSource]="reactions_per_person" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Messages </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>
    
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
        <mat-tab label="Graph">         
            <img src="assets/pictures/messages_per_person.png" alt="Nature" class="responsive">
        </mat-tab>
      </mat-tab-group>
    <hr class="divider">
    <br>
    
    <br><br><br><br>



    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" ></div>
            <mat-card-title><b>{{message_example['person']}}</b></mat-card-title>
            <mat-card-subtitle>Date</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <i>{{message_example['message']}}</i>
            </p>
            <span><h4 style="display: inline;" >Reactions: </h4> <p style="display: inline;">{{message_example['amount']}} </p></span>
        </mat-card-content>
        </mat-card>
            
</body>

<!-- [ngStyle]="{ 'background-image': 'url('')'}" -->