.header{
    width:100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.responsive {
    width: 100%;
    height: auto;
  }
/* .header-text{
    pos
} */


body{
    margin-left: 10%;
    margin-right: 10%;
}


.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('../../assets/pictures/profile_pictures/Stephen Murray.jpg');
    
    background-size: cover;
  }


  
  hr.divider { 
    margin: 0em;
    margin-bottom: 4px;
    border-width: 2px;
  } 

  table {
    width: 100%;
  }